/*
 CUSTOM COLORS TO MAKE RSTUDIO DARK
 */


body {
	color: #9e9e9e !important;
  background: none #121212 !important;
  font-family: Lucida Grande, Lucida Sans Unicode, Helvetica, sans-serif !important;
 }

 table, tbody, tr,td {
   background-color: #1E1E1E !important;
 }

 /* TEXT SHADOWS */
 .GNKRCKGCAU, .GNKRCKGCGT {
	 text-shadow: none;
	 color: #c4af80;
 }


 /* app bg */
.windowframe {
  background: none #202022 !important;
  margin: -3px -3px -5px -3px !important;
}

.ace_gutter {
	color: #6e6e6e !important;
  background: none #262628 !important;
  border-right: 1px solid #262628 !important;
}

.ace_editor {
	color: #9e9e9e !important;
  background: none #202022 !important;
}
/* editors status line */
.GCWXI2KCPIC, .GCWXI2KCKIC {
	color: #9e9e9e !important;
  background: none #202022 !important;
  border-right: 1px solid #262628 !important;
}


/* console */
.GCWXI2KCMN, .GCWXI2KCKN, .GCWXI2KCLN, .GCWXI2KCMS, .GCWXI2KCFS {
	color: #9e9e9e !important;
  background: none #262628 !important;
  text-shadow: none !important;
}

/*******************************************/
/* Environment Side column */
.GNKRCKGCL4C, .GNKRCKGCMH{
	color: #9e9e9e !important;
  background: none #262628 !important;
  text-shadow: none !important;
}

td.GNKRCKGCHVB, td.GNKRCKGCJVB, td.GNKRCKGCNVB {
	border: 0.5px solid #3f3f3f;
}

/* Info Tooltip */
.GNKRCKGCGTB {
	color: #91c8eb;
}

.GNKRCKGCNSB {
	background: #31317b;
}


/**************************************/
/* BUTTONS */
.GNKRCKGCII{
	color:#fff;
	border-left: 0.5px solid #2a2a2a;
	background-color: #262628;
}

/* BUTTON TEXT */
.GNKRCKGCEU {
	color: grey;
}

/**************************************/
/* CSS FOR THE FILE DIRECTORY SIDE COLUMN */

/* Breadcrumbs */
.breadcrumb table.GNKRCKGCGJ a {
	color: #bfb5b7;
}

.GNKRCKGCHI {
	background: rgb(54,54,54);
}

/* Table borders for file directory */
.GNKRCKGCEXB, .GNKRCKGCDYB, .GNKRCKGCLXB, .GNKRCKGCFYB, .GNKRCKGCOXB, .GNKRCKGCMXB {
	border: 0.5px solid #2a2a2a;
}

/* Weird Table Padding */
.GNKRCKGCBU {
	padding: 0px;
}

/* Table cells text */
.GNKRCKGCEI {
	color: #7e96aa;
}

/* Table Header */
.GNKRCKGCJXB {
	background-color: #262628;
	border: 0.5px solid #2a2a2a;
	color: #686c6f;
}



/* search */
.search > div {
	color: #9e9e9e !important;
  background: none #202022 !important;
}
.GCWXI2KCKR {
	color: #9e9e9e !important;
  background: none #202022 !important;
}

/* tabs */
.gwt-TabLayoutPanelTabs {
	color: #9e9e9e !important;
  background: #262628 !important;
}




/* selected tab */
.GNKRCKGCNR .gwt-TabLayoutPanelTab-selected .GNKRCKGCJT {
	background-color: none;
	background: none;
}
.gwt-TabLayoutPanelTab-selected .GCWXI2KCAR,
.gwt-TabLayoutPanelTab-selected .GCWXI2KCHS {
	color: #9e9e9e !important;
  background: none !important;
	background-color: #323233 !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
}
.GCWXI2KCIS, .GCWXI2KCJS {
  background: none !important;
}

/* Selected Tab */
/* Text */
.GNKRCKGCNR .gwt-TabLayoutPanelTab-selected .GNKRCKGCJT {
	color: rgb(250, 255, 219);
}

/* Left Side */
.GNKRCKGCNR .gwt-TabLayoutPanelTab-selected .GNKRCKGCJT{
	background-color:rgb(28, 28, 28);
}
/* Right side of selected tab */
.GNKRCKGCNR .gwt-TabLayoutPanelTab .GNKRCKGCKT {
	background: rgb(24,24,24);
}

.GNKRCKGCNR .gwt-TabLayoutPanelTab-selected .GNKRCKGCLT {
	background:rgb(28, 28, 28);
}


/* panels toolbars */
.GCWXI2KCNS  {
	color: #9e9e9e !important;
  background: #303030 !important;
}


/* environment bg */
.GCWXI2KCMH {
	color: #6e6e6e !important;
  background: none #262628 !important;
}

/* environment header */
.GCWXI2KCANB {
	color: #6e6e6e !important;
  background: none #262628 !important;
}

/* environment var name header */
.GCWXI2KCANB {
	border: 1px solid #262628 !important;
}

/* environment data */
.GCWXI2KCINB table, .GCWXI2KCINB td,
.GCWXI2KCOMB {
	color: #9e9e9e !important;
  background: none #262628 !important;
  border: 1px solid transparent !important;
}



/* history */
.GCWXI2KCMQB {
	color: #9e9e9e !important;
  background: none #202022 !important;
}


/* files */
.GCWXI2KCCPB, .GCWXI2KCCQB, .GCWXI2KCJPB, .GCWXI2KCEQB, .GCWXI2KCMPB, .GCWXI2KCKPB, .GCWXI2KCDQB, .GCWXI2KCLPB {
	color: #9e9e9e !important;
  background: none #202022 !important;
  border: 1px solid transparent !important;
  border-bottom: 1px dotted #262628 !important;
  padding: 0px !important;
}
/* files headers */
.GCWXI2KCIQB th {
	color: #9e9e9e !important;
  background: #262628 !important;
  border: 1px solid transparent !important;
  border-bottom: 1px dotted #262628 !important;
  padding: 2px !important;
}
/* files names */
.GCWXI2KCEI, .GCWXI2KCOP { color: #5C84AC !important; }
/* files pang bg */
.gwt-TabLayoutPanel-Workbench,
.breadcrumb table, .breadcrumb td,
.gwt-CheckBox-FilesSelectAll  {
 	background-color: #202022 !important;
}



/* packages */
.GCWXI2KCBWB, .GCWXI2KCDWB, .GCWXI2KCCXB, .GCWXI2KCEWB, .GCWXI2KCBXB, .GCWXI2KCCXB
 {
	color: #9e9e9e !important;
  background: none #202022 !important;
  border: 1px solid transparent !important;
  border-bottom: 1px dotted #262628 !important;
  padding: 0px !important;
  font-size: 9pt !important;
}

/* packages table headers*/
.GCWXI2KCIWB {
	color: #9e9e9e !important;
  background: #202021 !important;
  border: 1px solid transparent !important;
  border-bottom: 1px dotted #262628 !important;
  padding: 6px !important;
}
